@import "tailwindcss";

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Baskin Robbins";
  src: url("/fonts/BRB.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --black: #0f0f0f;
  --gray500: #161616;
  --gray400: #5a5a5a;
  --gray300: #a4a4a4;
  --gray200: #dddddd;
  --gray100: #eeeeee;
  --white: #fff;
  --red: #ff483d;
  --blue: #29c9f9;
  --purple: #a77eff;
  --pink: #ff2a6a;
  --main: #efff04;
  --baskin: "Baskin Robbins";
  --noto: "Noto Sans KR";
}

@theme inline {
  /* 색상 */
  --color-black: var(--black);
  --color-gray500: var(--gray500);
  --color-gray400: var(--gray400);
  --color-gray300: var(--gray300);
  --color-gray200: var(--gray200);
  --color-gray100: var(--gray100);
  --color-white: var(--white);
  --color-red: var(--red);
  --color-blue: var(--blue);
  --color-purple: var(--purple);
  --color-pink: var(--pink);
  --color-main: var(--main);

  /* 폰트 */
  --font-baskin: var(--baskin);
  --font-noto: var(--noto);

  /* 반응형 */
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 744px;
  --breakpoint-pc: 1200px;
}

.font-noto {
  font-family: var(--font-noto), sans-serif;
}

.font-baskin {
  font-family: var(--font-baskin), cursive;
}

/* 줄바꿈 처리 설정 */
.clamp-description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2줄까지만 보이도록 설정 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 백그라운드 이미지 설정 */
.bg-custom-landing1bg {
  background-image: url("/images/landing/landing1bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-landing2 {
  background-image: url("/images/landing/landing2s.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-landing3 {
  background-image: url("/images/landing/landing3_sm.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-landing4 {
  background-image: url("/images/landing/landing4_sm.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 744px) {
  .bg-landing2 {
    background-image: url("/images/landing/landing2md.svg");
  }
  .bg-landing3 {
    background-image: url("/images/landing/landing3_md.png");
  }
  .bg-landing4 {
    background-image: url("/images/landing/landing4_md.png");
  }
}
@media (min-width: 1200px) {
  .bg-landing2 {
    background-image: url("/images/landing/landing2.svg");
  }
  .bg-landing3 {
    background-image: url("/images/landing/landing3_lg.png");
  }
  .bg-landing4 {
    background-image: url("/images/landing/landing4_lg.png");
  }
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--noto) sans-serif;
}
